@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/figtree-v6-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/figtree-v6-latin-800.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 700px;
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

.box {
  padding: 24px 24px 30px 24px;
  width: 100%;
  max-width: 384px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #111;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px #000000;
}
.box__img {
  width: 100%;
  max-width: 336px;
}
.box__box-content {
  margin-top: 2.4rem;
}
.box__btn {
  display: inline-block;
  border-radius: 0.4rem;
  color: #111111;
  padding: 0.4rem 1.2rem;
  background-color: #f4d04e;
  font-weight: 800;
  font-size: 1.4rem;
}
.box__box-contnent__subtitle {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #111111;
  line-height: 1.5;
}

.box__box-content__link {
  margin-top: 12px;
  font-weight: 800;
  font-style: 2.4rem;
  line-height: 1.5;
  color: #111111;
}

.box__box-content__link:hover {
  color: #f4d04e;
}

.box__box-content__text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7f7f7f;
}
.box__box-login {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 1.2rem;
}

.box__box-login__subtitle {
  font-weight: 800;
  font-size: 1.4rem;
  color: #111111;
  line-height: 1.5;
}
